<script context="module">

export function confirm(message, callback) {
  const e = new CustomEvent("confirm", {
    detail: {message, callback},
  });

  document.documentElement.dispatchEvent(e);
}

</script>

<script>
import { onMount } from 'svelte';

export let type = "warning";
export let title = "Warning!";


const items = [];
let current = null;

onMount( () => {
  document.documentElement.addEventListener("confirm",
                                            ev => add(ev.detail));
});

function add(item) {
  const confirmation = Object.assign(
    { type, title },
    typeof item.message == "string" ? {"message": item.message} : item.message,
  )

  confirmation.callback = item.callback;

  items.push(confirmation);
  handle();
}

function handle() {
  if (current) return;
  if (!items.length) return;

  current = items.shift();
}

function confirm() {
  setTimeout(current.callback, 0);
  destroy();
}

function handleKey(ev) {
  if (ev.key == "Escape") destroy();
  else if (ev.key == "Enter") confirm();
}

function register() {
  window.addEventListener("keydown", handleKey);
}

function destroy() {
  window.removeEventListener("keydown", handleKey);
  current = null;
  setTimeout(handle, 0);
}

</script>

{#if current }
<div class="modal is-active"
     use:register
     >
  <div class="modal-background"
       on:click={destroy}
       ></div>
  <div class="modal-card">
    <header class="modal-card-head has-background-{current.type}">
      <p class="modal-card-title has-text-black">{current.title}</p>
    </header>
    <section class="modal-card-body">{current.message}</section>
    <footer class="modal-card-foot">
      <button class="button is-{current.type}"
              on:click={confirm}
              >Yes, I confirm</button>
      <button class="button"
              on:click={destroy}
              >No, cancel</button>
    </footer>
  </div>
</div>
{/if}

<style lang="stylus">
div.modal {
  section.modal-card-body {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}
</style>
