<script>
import { getContext } from 'svelte';

import { getDefault } from '../datastore.js';
import { dumpXML, parseXML } from '../lib/xml.js';
import { downloadBlob } from '../lib/utils.js';
import settings, { themes } from '../lib/settings.js';
import { notify } from './Notifications.svelte';
import { confirm } from './Confirmation.svelte';

import FilePicker from '../widgets/FilePicker.svelte';

import Fa from 'fa-svelte';
import { faFileImport, faFileExport } from '@fortawesome/free-solid-svg-icons';

import IconMenu from 'material-design-icons/navigation/svg/production/ic_menu_24px.svg';
import IconDownload from 'material-design-icons/file/svg/production/ic_file_download_24px.svg';
import IconOpenInBrowser from 'material-design-icons/action/svg/design/ic_open_in_browser_24px.svg';
import IconSave from 'material-design-icons/content/svg/production/ic_save_24px.svg';
import IconDelete from 'material-design-icons/action/svg/production/ic_delete_24px.svg';


const { data } = getContext("context");


function hasData() {
  if ($data.title) return true;
  for (const v of $data.values) {
    if (v) return true;
  }
  return false;
}

function clearDocument() {
  if (hasData()) {
    confirm("You will lose all current data. Continue?", () => {
      $data = getDefault();
      notify("Data cleared");
    })
  } else {
      notify({
        message: "Data already cleared",
        type: "warning",
      });
  }
}

function getSVG() {
  const el = document.getElementById("container").querySelector("svg");

  const rules = [];

  for (const sheet of document.styleSheets) {
    for (const rule of sheet.cssRules) {
      for (const item of el.querySelectorAll('*')) {
        if (item.matches(rule.selectorText)) {
          rules.push(rule.cssText);
          break;
        }
      }
    }
  }

  const out = el.cloneNode(true);
  out.setAttribute("xmlns", "http://www.w3.org/2000/svg");

  const stylesheet = document.createElement("style");
  stylesheet.textContent = rules.join("\r\n");
  out.insertBefore(stylesheet, out.firstChild);

  const blob = new Blob(
    ['<?xml version="1.0" encoding="utf-8"?>\r\n', out.outerHTML],
    {type: "image/svg+xml;charset=utf-8"}
  );

  downloadBlob(blob, $data.title + ".svg");
}

function getJSON() {
  const blob = new Blob(
    [JSON.stringify($data)],
    {type: "application/json;charset=utf-8"}
  );

  downloadBlob(blob, $data.title + ".json");
}

function loadJSON(content) {
  const _data = JSON.parse(content);
  const loader = () => {
    $data = _data;
    notify("Data loaded");
  }

  if (hasData()) confirm("This will overwrite current data. Continue?",
                         loader);
  else loader();
}

function getXML(content) {
  const blob = new Blob(
    ['<?xml version="1.0" encoding="utf-8"?>\r\n', dumpXML($data.values)],
    {type: "application/xml;charset=utf-8"}
  );

  downloadBlob(blob, $data.title + ".xml");
}

function loadXML(content) {
  const _data = getDefault();
  _data.values = parseXML(content);

  const loader = () => {
    $data = _data;
    notify("Data loaded");
  }

  if (hasData()) confirm("This will overwrite current data. Continue?",
                         loader);
  else loader();
}
</script>

<div class="navbar-item has-dropdown">
  <button class="button navbar-link is-arrowless">
    <IconMenu />
  </button>

  <div class="navbar-dropdown has-background-{themes[$settings.theme]}">
    <a class="navbar-item"
       >
      <IconOpenInBrowser /> Open file
      <FilePicker handler={loadJSON}
                  accept=".json" />
    </a>
    <a class="navbar-item"
       on:click={getJSON}
       > <IconSave /> Save file </a>

    <hr class="navbar-divider" />

    <a class="navbar-item"
       >
      <Fa icon={faFileImport} class="import" /> Import XML
      <FilePicker handler={loadXML}
                  accept=".xml" />
    </a>
    <a class="navbar-item"
       on:click={getXML}
       > <Fa icon={faFileExport} class="export" /> Export XML</a>

    <hr class="navbar-divider" />

    <a class="navbar-item"
       on:click={getSVG}
       > <IconDownload /> Download SVG</a>

    <hr class="navbar-divider" />

    <a class="navbar-item"
       on:click={clearDocument}
       > <IconDelete /> Clear data</a>
  </div>
</div>


<style lang="stylus">
div.navbar-dropdown {
  :global(svg) {
    margin: 0 9px 0 1px;

    &.fa-svelte {
      width: auto;
      height: 20px;

      &.import {
        margin-left: 0;
        margin-right: 13px;
      }

      &.export {
        margin-left: 5px;
        margin-right: 5px;
      }

      :global(*) {
        fill: black;

        :global(body.dark) & {
          fill: white;
        }
      }
    }
  }
}
</style>
