<script>

import settings, { themes } from '../lib/settings.js';
import Menu from './Menu.svelte';
import Share from './Share.svelte';
import Settings from './Settings.svelte';


function register(el) {
  for (
    const target of
    el.querySelectorAll('.navbar-item.has-dropdown > :first-child')
  ) {
    const parent = target.parentNode;
    let timer = null;

    const hide = ev => {
      clearTimeout(timer);
      timer = setTimeout(
        () => {
          const active = document.activeElement;
          if (parent.contains(active))
            active.addEventListener('blur', hide, {once: true});
          else
            parent.classList.remove('is-active');
        }, 150
      );
    }

    target.addEventListener('click',
                            ev => {
                              clearTimeout(timer);
                              parent.classList.toggle('is-active');
                            });
    target.addEventListener('blur', hide);
  }
}

</script>


<nav class="navbar is-{themes[$settings.theme]}" role="navigation" aria-label="main navigation"
     use:register
     >
  <Menu />
  <div class="navbar-brand">
    <slot />
  </div>

  <div class="navbar-menu">
    <div class="navbar-end buttons">
      <Share />
      <Settings />
    </div>
  </div>
</nav>


<style lang="stylus">
@require '../styles/variables.styl';
nav {
  padding-top: 3px;
  align-items: center;
  min-height: $navbar-height;

  .navbar-brand {
    flex: 1 0 0;
    overflow: hidden; /* needed for proper shrinking */
    min-height: $navbar-height;
  }

  .navbar-menu {
    flex: 0 0 0;

    & > :global(*) {
      flex-wrap: nowrap;
    }
  }
}

:global(body.dark) nav {
  :global(svg) {
    fill: #eee;
  }
}
</style>
