<script context="module">

export function notify(notification) {
  if (typeof notification == "string") {
    notification = {
      message: notification,
    }
  }

  const e = new CustomEvent("notify", {
    detail: notification,
  });

  document.documentElement.dispatchEvent(e);
}

</script>

<script>
import { onMount } from 'svelte';
import { fade } from 'svelte/transition';
import { flip } from 'svelte/animate';


let notifications = [],
    id = 1;

const _delay = 3000;


onMount(() => {
  document.documentElement.addEventListener("notify",
                                            ev => add(ev.detail));
});


function add(notification) {
  notification = Object.assign({ type: "success",
                                 delay: _delay,
                               }, notification);
  notification.id = id++;
  notifications = [...notifications, notification];
}

function remove(id) {
  notifications = notifications.filter( n => n.id != id);
}

function attach(el, notification) {
  // register auto-remove
  setTimeout(() => remove(notification.id), notification.delay);
}

</script>


<div class="notifications">
{#each notifications as notification (notification.id)}
  <div class="message is-small is-{notification.type}"
       use:attach={notification}
       on:click="{() => remove(notification.id)}"
       in:fade ={{delay: 250, duration: 1000}}
       out:fade ={{duration: 1000}}
       animate:flip
       >
    <div class="message-body">
      {notification.message}
    </div>
  </div>
{/each}
</div>


<style lang="stylus">
@require '../styles/variables.styl';

div.notifications {
  position: absolute;
  z-index: 10;
  right: 1rem;
  bottom: $footer-height;
  padding-bottom: 1rem;
  width: 25%;

  .message {
    cursor: pointer;
    .message-body {
      color: #333;
    }
  }
}
</style>
