<script>
import settings, { editor, buttons, themes } from '../lib/settings.js';
import { title } from '../lib/utils.js';
import { notify } from './Notifications.svelte';

import Toggle from '../widgets/Toggle.svelte';

import IconSettings from 'material-design-icons/action/svg/production/ic_settings_24px.svg';
import IconEdit from 'material-design-icons/editor/svg/production/ic_mode_edit_24px.svg';
import IconMouse from '../assets/mouse.svg';
import IconTheme from '../assets/theme.svg';


const notifyMouse = ev => notify({ message: title(buttons[$settings.mouse]) + " mouse button edits",
                                   type: "info" });

// "click" the first inner input on menu click
const check = ev => ev.target.querySelector("input").click();

</script>


<div class="navbar-item has-dropdown">
  <button class="button navbar-link is-arrowless">
    <IconSettings />
  </button>

  <div class="navbar-dropdown is-right has-background-{themes[$settings.theme]}">
    <a class="navbar-item"
       on:click|self={check}
       title="Use {editor[!$settings.editor]} editor"
       >
      <Toggle
        bind:checked={$settings.editor}
        ><IconEdit /></Toggle>
    </a>

    <hr class="navbar-divider">

    <a class="navbar-item"
       on:click|self={check}
       on:change={notifyMouse}
       title="Switch to {buttons[!$settings.mouse]} mouse button"
       >
      <Toggle
        bind:checked={$settings.mouse}
        ><IconMouse /></Toggle>
    </a>

    <hr class="navbar-divider">

    <a class="navbar-item"
       on:click|self={check}
       title="Switch to {themes[!$settings.theme]} theme"
       >
      <Toggle
        bind:checked={$settings.theme}
        ><IconTheme /></Toggle>
    </a>

  </div>
</div>


<style lang="stylus">
//
</style>
