<script>
import { getShareUrl } from '../datastore.js';
import settings, { themes } from '../lib/settings.js';

import IconShare from 'material-design-icons/social/svg/production/ic_share_24px.svg';


function observeShareMenu(el) {
  const input = el.querySelector("input"),
        button = el.querySelector("button");

  button._defaultText = button.textContent;

  const observer = new IntersectionObserver(
    (entries) => {
      const entry = entries[0];

      if (entry.isIntersecting) {
        input.value = getShareUrl();
        input.select();

        button.style.width = button.offsetWidth + 'px';
      }
      else {
        button.textContent = button._defaultText;
        button.style.width = 'auto';
      }
    },
    {root: document.documentElement}
  );
  observer.observe(el)
}

function copyUrl(ev) {
  navigator.clipboard.writeText(getShareUrl()).then(function() {
    ev.target.textContent = "copied";
    ev.target.blur()
  }, function() {
    console.error("fail copying?");
  });
}

</script>


<div class="navbar-item has-dropdown">
  <button class="button navbar-link is-arrowless">
    <IconShare />
  </button>

  <div class="navbar-dropdown is-right has-background-{themes[$settings.theme]}"
       use:observeShareMenu
       >
    <span class="navbar-item">
      <input readonly />
      <button class="button is-small" on:click={copyUrl}>copy</button>
    </span>
  </div>
</div>


<style lang="stylus">
input {
  margin-right: 0.5 rem;
  margin-bottom: 0.5 rem;
}
</style>
