<script>
import { createEventDispatcher } from 'svelte';
import { fade } from 'svelte/transition';
import { expoOut } from 'svelte/easing';


const WIDTH = 30,      // percentage
      MIN_WIDTH = 150, // pixels
      DURATION = 350;  // millisecons


let self;

let ready = false,
    outer_width = 0,
    inner_width = 0;

const dispatch = createEventDispatcher();

function compute(self) {
  const base = self.parentNode.getBoundingClientRect().width;

  outer_width = Math.max(Math.round(base * WIDTH / 100), MIN_WIDTH);

  const _style = getComputedStyle(self.firstElementChild),
        _brd = parseInt(_style.borderLeftWidth),
        _dst = parseInt(_style.left);

  inner_width = outer_width - _brd - _dst;
}

function done() {
  ready = true;
  dispatch("ready");
}

function reset() {
  ready = false;
  outer_width = 0;
}

</script>


<aside use:compute
       style="width: {outer_width}px;
              --duration: {DURATION}ms;
              --width: {WIDTH}%;
              --min-width: {MIN_WIDTH}px;
              "
       class:ready
       on:transitionend|self|once={done}
       >
  <div style="width: {inner_width}px;"
       class:ready={inner_width != 0}
       transition:fade={{duration: DURATION, easing: expoOut}}
       on:outrostart={reset}
       >
    <slot />
  </div>
</aside>


<style lang="stylus">
_bw = 1px;
_shw = -3px;
_shb = 10px;
_shs = 3px;

$distance = 70px;
$bg = #f9f9f3;
//$bg = alpha(#f6f6ed, .7); // = #f9f9f3
$brd = _bw solid #fefefe;
$shd = _shw _shw _shb _shs alpha(#ccc, .5);
$margin = (- _shw + _shb + _shs);

easeOutExpo = cubic-bezier(0.16, 1, 0.3, 1);

aside {
  position: relative;
  flex-shrink: 0;

  transition: width easeOutExpo var(--duration);

  & > div {
    // this .ready trickery is needed to prevent the page from dancing around
    display: none;
    &.ready {
      display: block;
    }

    position: absolute;
    left: $margin;
    top: ($distance + $margin);
    z-index: 3;
    height: "calc(100% - %s)" % @top;

    background-color: $bg;
    border: $brd;
    border-style: solid none none solid;
    border-radius: 3px;
    box-shadow: $shd;

    padding: 30px 14px;
  }

  &.ready {
    transition: none;
    width: var(--width) !important;
    min-width: var(--min-width) !important;

    & > div {
      width: "calc(100% - %s)" % $margin !important;
    }
  }
}

:global(body.dark) aside {
  & > div {
    background-color: alpha(#333, .7);
    border-color: #222;
  }
}
</style>
