@require './variables.styl';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  color: #000;
  background-color: #fff;;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

body.dark {
  background-color: $bg-dark;
  color: $color-dark;
}

body.dark a {
  color: rgb(255,200,100);
}

body.dark a:visited {
  color: rgb(200,120,40);
}

body.dark input, body.dark button, body.dark select, body.dark textarea {
  border-color: #666;
}

body.dark input:disabled {
  color: #666;
}

body.dark button {
  color: #ccc;
  background-color: #555;
}

body.dark button:disabled {
  color: #999;
}

body.dark button:not(:disabled):active {
  background-color: #444;
}

body.dark button:focus {
  border-color: #aaa;
}
