<script>
import { onMount } from 'svelte';


export let handler;
export let accept = "";

let self;


onMount( () => {
  // respond to parent's click
  self.parentNode.addEventListener("click",
                                   () => self.click());
});

function _handler(ev) {
  const file = ev.target.files[0];
  if (!file) return;

  const reader = new FileReader();
  reader.onload = ev => {
    handler(ev.target.result);
    self.value = null;
  }
  reader.readAsText(file);
}

</script>


<input type="file"
       bind:this={self}
       on:change={_handler}
       {accept}
       />


<style>
input[type="file"] {
  display: none;
}
</style>
