<script>

export let name = null;
export let checked = false;


function blur(ev) {
  setTimeout(() => ev.target.blur(), 200);
}

</script>


<label>
  <slot />
  <slot name="before" />

  <span class="toggle" class:checked>
    <input type="checkbox"
           {name}
           bind:checked
           on:change={blur}
           />
  </span>

  <slot name="after" />
</label>


<style lang="stylus">

@require('../styles/variables.styl');

$width = 45px;
$height = 15px;
$size = 22px;
$box-background = $button-background-color;
$box-border = 1px solid $button-border-color;
$btn-background = $button-text-hover-background-color;
$btn-border = 1px solid $button-hover-border-color;

label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  //user-select:none;

  & > :global(:not(.toggle)) {
    margin-right: 7px;
  }
  
  & > span.toggle ~ :global(*) {
    margin-left: 7px;
    margin-right: unset;
  }
  
  & > span.toggle {
    display: block;
    position: relative;

    input {
      position: absolute;
      opacity: 0;
    }

    // the box
    &:before {
      content: "";
      display: block;

      height: $height; line-height: $height;
      width: $width;
      border-radius: $height;

      border: $box-border;
      background: $box-background;
    }

    // the button
    &:after {
      content: "";
      display: block;

      width: $size; height: $size;
    
      position: absolute;
      top: 0 - round(($size - $height) / 2);
      left: 0 - round($size / 7);

      //xmargin: (- $width - $size) / 2;
      //top: round(($height - $size) / 2);
      //

      border-radius: 50%;
      background: $btn-background;
      border: $btn-border;
      transition: left 250ms ease-in-out;
    }

    &.checked:after {
      left: $width - $size + round($size / 7);
    }
  }
}

</style>
