<script>
import './styles/global.styl';
import './styles/custom-bulma.sass';

import debounce from 'lodash/debounce';

import { setContext, onMount } from 'svelte';
import { writable } from 'svelte/store';

import { data } from './datastore.js';
import settings from './lib/settings.js';
import { Hexagon as HexagonGeometry } from './hexagon.js';

import Nav from './components/Nav.svelte';
import Sidebar from './components/Sidebar.svelte';

import Hexagon from './Hexagon.svelte';
import Fractolon from './Fractolon.svelte';

import Title from './Title.svelte';
import Editor from './Editor.svelte';
import FullEditor, { TIMEOUT } from './FullEditor.svelte';

import Notifications from './components/Notifications.svelte';
import Confirmation from './components/Confirmation.svelte';


let wrapper;
let width = window.innerWidth,
    height = window.innerHeight - 75, // todo: use styling variables
    length = (Math.cos(Math.PI / 3) *
              Math.min(width * 33 / 100, height * 75 / 100));

// TODO: make the hexagons reactive...
//$: length = height !== undefined ? height / 3 : null;

// the advanced editor needs some delay before getting focused
// to prevent the sidebar from jumping around;
let editor_focus = false;

function reflow() {
  const coords = wrapper.getBoundingClientRect();
  width = coords.width;
  height = coords.height;
}

// wrapper timeout needed to fix firefox timing bug
onMount(() => setTimeout(reflow, 0));


const tabs = {
  level1: "Level 1",
  level2: "Level 2",
}

let tab = $settings.tab || "level1";
$: $settings.tab = tab;

let editing = writable(null);
setContext("context", {data, editing});

/*
 We have two competing events that need to be handled together:
 A. clicking (editing) a new item
 B. blurring (done editing) the current item.

 We need to correlate them when the user clicks the same item that's being
 edited, in order to close the item and not re-open it.

 However the events' order can differ, because the advanced editor needs
 a timeout to detect switching internal focus between fields (that is,
 not issue a blur immediately).
*/

let _timer = null;
let inhibit = false; // used to inhibit blur events

function preclicked(ev) {
  clearTimeout(_timer);
  // always inhibit blur on mousedown (needed for the simple editor)
  inhibit = true;
}

function done(ev) {
  // if another node was clicked we don't want to handle the blur event
  if (inhibit) return;
  // otherwise...
  $editing = null;
  editor_focus = false;
}

function edit(ev) {
  let node = ev.detail.node;
  if (node == $editing) node = null;

  $editing = node;

  // the advanced editor causes blur events to arrive after the click.
  // we need to inhibit them temporarily
  inhibit = true;
  _timer = setTimeout(() => inhibit = false, 1.1 * TIMEOUT);
}

function onleave() {
  // inhibit blur due to switching windows
  document.documentElement.addEventListener('pointerleave', () => {
    //inhibit = true;
    //setTimeout(() => inhibit = false, 0);
  }, false);
}

onMount(onleave);

</script>


<svelte:window
  on:resize={debounce(reflow, 100)}
  />

<Nav>
  <Title
    bind:value={$data.title}
    />
</Nav>


<div id="wrapper"
     bind:this={wrapper}
     >
<div id="container">
  <section id="level1" class:is-active={tab == "level1"}>
    <svg width="{width}" height="{height}">
      <marker id="arrow"
              markerWidth="7" markerHeight="5"
              refX="2.5" refY="2.5"
              orient="auto"
              >
        <polygon points="0,0 1,2.5 0,5 7,2.5" />
      </marker>
      <g transform="translate({width / 2} {height / 2})">
        <Hexagon
          single
          {length}
          bind:data={$data.values}
          on:click="{edit}"
          on:mousedown="{preclicked}"
          />
       </g>
    </svg>
  </section>
  <section id="level2" class:is-active={tab == "level2"}>
    <svg width="{width}" height="{height}">
      <g transform="translate({width / 2} {height / 2})">
        <Fractolon
          {length}
          bind:data={$data.values}
          on:click="{edit}"
          on:mousedown="{preclicked}"
          />
      </g>
    </svg>
  </section>

{#if $editing !== null && !$settings.editor}
  <Editor
    node={$editing}
    bind:data={$data.values[$editing.vertex.id]}
    on:blur={done}
    />
{/if}
</div>

{#if $editing !== null && $settings.editor}
  <Sidebar on:ready={() => editor_focus = true}
           >
    <FullEditor
      bind:data={$data.values[$editing.vertex.id]}
      on:blur={done}
      focus={editor_focus}
      />
  </Sidebar>
{/if}

</div>


<div class="tabs is-toggle">
  <ul>
  {#each Object.entries(tabs) as [id, label]}
    <li id={id}
        class:is-active={tab == id}
        on:click={() => tab = id}
    >
      <a>{label}</a>
    </li>
  {/each}
  </ul>
</div>

<Notifications />
<Confirmation />


<style lang="stylus">
@require './styles/variables.styl';

#wrapper {
  height: "calc(100% - %s - %s)" % ($navbar-height $footer-height);
  display: flex;
  align-items: stretch;
}

#container {
  position: relative;
  width: 100%;
}

section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  transition: .5s ease opacity;

  &.is-active {
    z-index: 1;
  }

  &:not(.is-active) {
    transition-duration: .7s;
    opacity: 0;
  }

  svg {
    display: block;
  }
}

:global(div.editor) {
  position: absolute;
  z-index: 11;
}

div.tabs {
  position: absolute;
  left: 0;
  bottom: $distance-bottom;
  z-index: 5;

  width: 100%;
  margin: 0;
  background-color: $tabs-bg;

  ul {
    padding: 0 20px 3px 20px;
    border: none;
    border-top: 1px solid $tabs-border;
  }

  li {
    position: relative;
    margin: 0 -1px 0 0;

    a {
      padding: 0.1em 1.7em;
      border: 1px solid $tabs-border;
      margin: 0;
      margin-top: -1px;
      cursor: pointer;
    }

    &.is-active a {
      color: #000;
      background-color: $tabs-active-bg;
      border-color: $tabs-border;
      border-top-color: transparent !important;
      border-bottom-width: 2px;
    }

    & a, &:first-child a, &:last-child a {
      border-radius: 0;
    }
  }
}

:global(body.dark) div.tabs {
  background-color: $tabs-bg-dark;

  ul {
    border-top-color: $tabs-border-dark;
  }

  li {
    a {
      color: $tabs-color-dark;
      border-color: $tabs-border-dark;

      &:hover {
        color: $tabs-color-dark;
        background-color: $tabs-active-bg-dark;
      }
    }
    &.is-active a {
      color: $tabs-active-color-dark;
      background-color: $tabs-active-bg-dark;
      border-color: $tabs-border-dark;
    }
  }
}

</style>
