<script>
import throttle from 'lodash/throttle';

import Input from './widgets/Input.svelte';


export let data;
export let node;


const variation = {base: 150, min: 20, max: 70};

let self,
    input,
    text;
let setup = false,
    reset = true,
    classes = "",
    positioning = {},
    style = "";

$: if (node && self) setUp();
$: if (setup && node) handle();
$: style = Object.entries(positioning).map(
    kv => kv.join(':') + 'px'
  ).join(';');


function setUp() {
  input = self.querySelector("input");
  text = node.querySelector("text");

  setup = true;
}

function handle() {
  classes = text.classList;

  const coords = text.getBoundingClientRect(),
        pcoords = self.parentNode.getBoundingClientRect();

  // this is so ugly but it's a quick fix...
  const _is_firefox = typeof InstallTrigger !== 'undefined',
        dx = _is_firefox ? 12 : 0,
        dy = _is_firefox ? coords.height / 3 : 0;

  const props = {
    width: coords.width,
    top: coords.top - pcoords.top + dy,
  };

  if (text.classList.contains("left"))
    props.right = pcoords.right - coords.right + dx;

  else
    props.left = coords.left - pcoords.left + dx;

  if (text.classList.contains("center"))
    props.left += coords.width / 2;

  reset = true; // avoid transitioning width when changing node
  positioning = props;
  setTimeout(() => { reset = false; }, 0.1);
}

function track() {
  const wt = text.getBoundingClientRect().width,
        wi = input.getBoundingClientRect().width,
        diff = wi - wt;

  if (diff < variation.min)
    positioning.width = wt;
  else if (diff > variation.max && wi > variation.base && wt - variation.min < wi)
    positioning.width = Math.max(variation.base, wt - variation.min);
}

</script>


<div class="editor {classes}" class:reset
     style="{style}"
     bind:this={self}
     >
  <Input bind:value={data.title}
         on:input={throttle(track, 60, {leading: false, trailing: true})}
         on:blur
         />
</div>


<style lang="stylus">
div.editor {
  transition: width .05s ease;

  &.reset {
    transition: none;
  }

  :global(input) {
    position: absolute;
    top: -5px;

    min-width: 150px;         // variation.base
    width: calc(100% + 45px); // between [variation.min, variation.max)
  }

  &.left :global(input) {
    right: -1px;
    text-align: right;
  }

  &.right :global(input) {
    left: -1px;
    text-align: left;
  }

  &.center :global(input) {
    transform: translateX(-50%);
    text-align: center;
  }
}
</style>
