<script>
import { getContext } from 'svelte';

import { Fractolon } from './hexagon.js';
import Hexagon from './Hexagon.svelte';


export let data;
export let length

const { editing } = getContext("context");


const fractolon = new Fractolon(length);

let hovered = 0,
    timer;

function hover(id) {
  if($editing) return;

  clearTimeout(timer);
  if (id == hover || id == 0) return;

  timer = setTimeout(() => {
    hovered = id;
  }, 200);
}

function unhover() {
  if($editing) return;

  clearTimeout(timer);
  timer = setTimeout(() => {
    hovered = 0;
  }, 500);
}

</script>


<g>
{#each fractolon as hexagon, id}
  <Hexagon {hexagon}
           bind:data
           visible={hovered == id}
           single={id == 0}
           on:mouseover={() => hover(id)}
           on:mouseout={unhover}
           on:click
           on:mousedown
           />
{/each}
</g>


<style lang="stylus">
</style>
