<script context="module">
// timeout until the dom figures out which element got the focus.
// particularly needed when clicking a label.
// (seems to be in fact 100, adding one extra-frame)
export const TIMEOUT = 117;
</script>

<script>
import Input from './widgets/Input.svelte';


export let data;
export let focus=false;

let self;
let timer = null;

function handleBlur(ev) {
  clearTimeout(timer);
  timer = setTimeout(() => {
    // dispatch the event only if focus moved outside self
    if (self.contains(document.activeElement)) return;

    const clone = new ev.constructor(ev.type, ev);
    self.dispatchEvent(clone);
  }, TIMEOUT);
}

</script>


<div bind:this={self}
     class="full-editor"
     on:blur
     >
  <p>
    <label>
      Title:
      <Input bind:value={data.title}
             on:blur={handleBlur}
             {focus}
             />
      </label>
  <p>
    <label>
      Content:
      <textarea bind:value={data.content}
                on:blur={handleBlur}
                />
    </label>
  </p>
</div>


<style lang="stylus">
div.full-editor {
  width: 100%;
  height: 100%;

  p {
    margin-bottom: 25px;

    label {
      display: block;
      cursor: pointer;
    }

    :global(input), :global(textarea) {
      display: block;
      margin-top: 5px;
      width: 100%;
    }

    textarea {
      height: 200px;
    }
  }
}
</style>
