<script>
import { onMount, setContext } from 'svelte';

import { Hexagon as HexagonGeometry } from './hexagon.js';

import Node from './Node.svelte';
import Line from './Line.svelte';


export let data;
export let single = false;
export let length = undefined;
export let hexagon = undefined;
export let visible = true;


let self;

if (hexagon === undefined) {
  hexagon = new HexagonGeometry(length).center(0, 0);
}
setContext("hexagon", { hexagon, single });


function bringUp(visible) {
  // brings itself to the topmost position

  if(!visible) return;
  // this might fire before getting mounted
  if (self === undefined) return;
  //// we want to skip this for the large hexagon
  //if (self.parentNode.firstChild == self) return;

  self.parentNode.appendChild(self);
}

onMount(() => bringUp(visible));
$: bringUp(visible);

</script>

<g class="hexagon" class:single class:hidden={!visible}
   bind:this={self}
   on:mouseover
   on:mouseout
   >
  {#if !single }
    <polygon points={hexagon.corners().join(" ")} />
  {/if}

  <g class="edges">
    {#each hexagon.edges() as [start, end]}
      <Line {start} {end} />
    {/each}
  </g>

  <g class="connections">
    {#each hexagon.inner().edges() as [start, end]}
      <Line {start} {end} />
    {/each}
    {#each hexagon.innerconnections() as [start, end]}
      <Line {start} {end} />
    {/each}
  </g>
{#each [["outer", hexagon], ["inner", hexagon.inner()]] as [scope, hexagon]}
  <g class="nodes {scope}">
    {#each hexagon.corners() as corner}
      <Node vertex={corner}
            bind:value={data[corner.id]}
            on:click
            on:mousedown
            />
    {/each}
  </g>
{/each}
</g>


<style lang="stylus">
g.hexagon {
  pointer-events: all;

  &, & * {
    transition: opacity .22s;
  }

  polygon {
    fill: none;
  }

  g.edges {
    stroke: #eee;
  }

  g.connections {
    stroke: #99f;
  }

  &.single {
    g.connections {
      stroke: #77a;
      stroke-width: 3px;
    }
  }

  g.nodes {
    opacity: 1;
  }

  &.hidden {
    &.single {
      opacity: 0;
    }

    g.nodes {
      opacity: 0;
    }
  }
}

:global(body.dark) g.hexagon {
  g.edges {
    stroke: #444;
  }
  g.connections {
    stroke: #663;
  }
}
</style>
