<script>
import { onMount, setContext } from 'svelte';

import { Hexagon as HexagonGeometry } from './hexagon.js';

import Node from './Node.svelte';
import Line from './Line.svelte';


export let start;
export let end;

function mkpoints(first, last) {
  let _points = [
    [start.x, start.y]
  ];

  _points.push(
    [
      start.x + (end.x - start.x) / 2,
      start.y + (end.y - start.y) / 2,
    ]
  );

  _points.push(
    [end.x, end.y]
  );

  const points = _points.map( p => p.join( ',' ) ).join( ' ' );
  return points;
}

let points;
$: points = mkpoints(start, end);

</script>

<polyline
  {points}
  marker-mid="url(#arrow)"
  />

<style lang="stylus">

</style>
