<script>
  import { createEventDispatcher, getContext } from 'svelte';

  import { fuzzy } from './geometry.js';

  import settings from './lib/settings.js';
  import Input from './widgets/Input.svelte';


  export let vertex;
  export let value = "",
             edited = false;


  const { editing } = getContext("context");
  const { hexagon, single } = getContext("hexagon");

  const cr = single ? 6 : 5,
        dst = single ? 10 : 8,
        dist = cr + dst;

  let self;
  $: edited = $editing == self;

  function attach(el) {
    el.vertex = vertex;
  }

  let hovered = false;

  function mouseover(ev) {
    hovered = true;
  }

  function mouseout(ev) {
    hovered = false;
  }

  const _is_action_button = ev => {
    return (
      ev.button == 0 && $settings.mouse == 0
        ||
      ev.button == 2 && $settings.mouse == 1
    );
  }

  const dispatch = createEventDispatcher();
  function clicked(ev) {
    if (!_is_action_button(ev)) return;

    dispatch("click", {
      node: self,
    });
  }
  function preclicked(ev) {
    if (!_is_action_button(ev)) return;

    dispatch("mousedown", {
      node: self,
    });
  }

  const text = (() => {
    /*
     text placement. text needs to be placed so it "points away" from the center.

     that means:
       - upper and lower will be center-aligned
       - left and right will be right- and left- aligned, middle-vertical
       - the rest of the points will be right- and left- aligned as well, with
         the vertical middle on the radius from the center.
    */

    const [px, py] = [vertex.x, vertex.y],
          [cx, cy] = hexagon.center(),
          r = Math.sqrt((px - cx) ** 2 + (py - cy) ** 2);

    const cos = (px - cx) / r,
          sin = (py - cy) / r;

    const dx = cos * dist,
          dy = sin * dist;

    const props = {
      x: px + dx,
      y: py + dy,
    };

    const hclass = {
      "0" : "center",
      "-1": "left",
      "1" : "right",
    }[
      Math.sign(fuzzy.normalise(px) - fuzzy.normalise(cx)).toString()
    ];

    const vclass = {
      "0" : "middle",
      "-1": "above",
      "1" : "below",
    }[
      Math.sign(fuzzy.normalise(py) - fuzzy.normalise(cy)).toString()
    ];

    props.class = `${hclass} ${vclass}`;

    /*
     intermediary points of the inner hexagon will be placed outside the larger
     hexagon, to avoid text overlap.
    */
    const _is_small = fuzzy.lt(r, hexagon.radius);

    // the connection is a line connecting the outside text to the inside node
    const connection = _is_small ? {
      x1: props.x,
      y1: props.y,
    } : null;

    if (_is_small) {
      // draw line until it intersects the hexagon edge, plus a dst unit

      connection.x2 = cx + cos * (hexagon.distance + dst),
      connection.y2 = cy + sin * (hexagon.distance + dst),

      // and update the text position
      props.x = connection.x2 + cos * cr;
      props.y = connection.y2 + sin * cr;
    }

    return { props, connection };
  })();
</script>

<g class="node" class:edited class:hovered class:empty={!value.title}
   bind:this={self}
   use:attach
   on:mouseover="{mouseover}"
   on:mouseout="{mouseout}"
   on:click="{clicked}"
   on:mousedown="{preclicked}"
   on:contextmenu|preventDefault={clicked}
   >
<!--
  <rect class="bg"
        width="{dist * 2}" height="{dist * 2}" x="{vertex.x - dist}" y="{vertex.y - dist}" />
-->
  <circle class="nobg"
          cx="{vertex.x}" cy="{vertex.y}" r="{dist}" />

  <circle class="bg"
          cx="{vertex.x}" cy="{vertex.y}" r="{(cr + dist) / 2}" />

  <circle class="node"
          cx="{vertex.x}" cy="{vertex.y}" r="{cr}" />

{#if text.connection}
  <line {...text.connection} class="nobg" />
  <line {...text.connection} />
{/if}

  <text {...text.props}
        >{value.title ? value.title : " "}</text>
</g>

<style lang="stylus">
$node-text-bg = #fff;
//$node-text-bg-hover = alpha(#99c, .2);
$node-effect-hover = alpha(#333, .7);

g.node {
  cursor: pointer;
  pointer-events: all;

  .bg {
    fill: white;
  }
  .nobg {
    fill: none;
    stroke: none;
  }

  circle.node {
    fill: #57b;
    stroke: #013;
  }

  line {
    stroke: #555;
    stroke-width: 1px;

    &.nobg {
      stroke-width: 10px;
    }
  }

  text {
    text-shadow: 0 0 10px $node-text-bg;
    dominant-baseline: text-bottom;

    @media print {
      text-shadow: none;
    }

    &.left {
      text-anchor: end;
    }
    &.center {
      text-anchor: middle;
    }
    &.right {
      text-anchor: start;
    }

    &.above {
      dominant-baseline: text-after-edge;
    }
    &.middle {
      dominant-baseline: middle;
    }
    &.below {
      dominant-baseline: text-before-edge; 
    }
  }

  &.hovered, &.edited {
    circle.node {
      stroke-width: 2;

      :global(.single) & {
        stroke-width: 3;
      }
    }
    line:not(.nobg) {
      stroke: black;
    }
    &:not(.empty) text {
      fill: black;
      text-decoration: underline;
    }
  }

  &.empty line {
    display: none;
  }
}

:global(.hidden) g.node {
  cursor: default;
  pointer-events: none;
}

:global(body.dark) {
  g.node {
    .bg {
      fill: #333;
    }

    circle.node {
      fill: #973;
      stroke: alpha(#fff, .2);
    }

    text {
      fill: #aa9;
    }

    &.hovered, &.edited {
      line:not(.nobg) {
        stroke: #999;
      }

      text {
        fill: #eee;
      }
    }
  }
}
</style>
