<script>
import Input from './widgets/Input.svelte';


export let value;

let editing = false;

</script>


<h1 class="title" class:empty={!value}>
  {#if !editing}
    <span on:click={() => {editing = true; }}>
      {value ? value : "<add a title>"}
    </span>
  {:else}
    <Input bind:value={value}
           on:blur={() => {editing = false; }}
    />
  {/if}
</h1>


<style lang="stylus">
h1.title {
  flex: 1 0 0;
  padding: 0 10px;
  max-width: 100%;
  font-size: 1.1rem;
  line-height: calc(2.2rem + 2px);

  & > :global(*) {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  span {
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .3em;

    @media print {
      white-space: normal;
      text-align: center;
    }
  }

  &.empty span {
    color: #777;
  }

  &:hover span {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  :global(input) {
    padding-left: calc(.3em + 1px);
    padding-bottom: calc(.4em + 2px);
  }
}

:global(body.dark) h1.title {
  &:hover span {
    background-color: #333 !important;
  }
}
</style>
